$gray: #ECE9E5;
$navy: #333E48;

#lists {
  margin: 150px auto 100px;
  width: 100%;
  .qty {
    display: flex;
    margin-top: 27px;
    align-items: center;
    p {
      cursor: pointer;
      margin-left: 20px;
      text-decoration: underline;
    }
  }
  th {
    font-size: 20px;
  }
  thead {
    text-align: left;
    > tr {
      th {
        padding: 25px 0;
      }
      &:nth-child(1) {
        th {
          font-size: 30px;
          border-bottom: 1px solid $gray;
          padding-bottom: 50px;
        }
      }
      &:nth-child(2) {
        th {
          padding:20px;
        }
      }
    }
  }
  tbody {
    padding: 30px 0;
    tr{
      td:nth-child(1) {
        width: 10%;
      }
      td:nth-child(2)  {
        width: 15%;
      }
    }
    input {
      border: 1px solid $gray;
      padding: 5px;
      text-align: center;
      outline: none;
      width: 50px;
      height: 50px;
    }
  }
  td {
    padding: 20px;
  }
  button {
    background-color: $navy;
    border: none;
    outline: none;
    color: $gray;
    padding: 1em 2em;
    float: right;
    margin-top: 50px;
  }
}