$gray: #ECE9E5;
$navy: #333E48;

#pageBtns {
  width: 40%;
  margin: 50px 0 100px;
  li {
    background-color: $gray;
    width: 50px;
    line-height: 50px;
    // padding: 10px;
    text-align: center;
    color: $navy;
    transition: 0.5s;
    &:hover {
      background-color: $navy;
      color: $gray;
    }
  }
}