$gray: #ECE9E5;
$navy: #333E48;
footer {
  background-color: $gray;
  height: 500px;
  > div.innerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .innerFooter {
      margin-top: 80px;
      width: 50%;
      display: flex;
    }
    #rightFooter {
      width: 50%;
      > ul {
        display: flex;
        justify-content: space-between;
        > li {
          width: 230px;
          line-height: 2.5;
          color: #555;
          position: relative;
          span {
            font-weight: bold;
            color: $navy;
          }
          #sns {
            display: flex;
            margin-bottom: 30px;
            svg {
              width: 30px;
              height: 30px;
              margin-right: 10px;
            }
          }
        }
      }
    }
    #leftFooter {
      width: 50%;
      align-items: center;
      > ul {
        width: 50%;
        margin-right: 50px;
      }
      li {
        line-height: 1.5;
        font-size: 12px;
        h1 {
          font-size: 24px;
          margin: 20px 0;
        }
      }
      form {
        position: relative;
        input {
          border: none;
          outline: none;
          padding: 10px 0;
          background: none;
          border-bottom: 1px solid #ccc;
          width: 250px;
        }
        svg {
          position: absolute;
          right: 10px;
          top: 10px;
        }
      }
    }
  }
}