header {
  width: 100%;
  background-color: #333E48;
  .innerContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    color: #ECE9E5;
    padding: 0 20px;
    > ul {
      display: flex;
      position: relative;
      li {
        margin-left: 30px;
        cursor: pointer;
        &:nth-child(1):hover, &:nth-child(2):hover  {
          .subMenu {
            display: block;
          }
        }
      }
    }
    .new {
      &::before {
        left: 37px;
      }
    }
    .collections {
      &::before {
        left: 127px;
      }
    }
    .subMenu {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background-color: #ECE9E5;
      }
      display: none;
      position: absolute;
      left: 0;
      top: 45px;
      padding: 20px 10px;
      height: 300px;
      width: 600px;
      color: #333E48;
      background-color: #ECE9E5;
      li {
        margin: 15px;
        cursor: pointer;
      }
      img {
        position: absolute;
        right: 0;
        z-index: 1;
        bottom: 0;
        height: 300px;
        
      }
    }
  }
}