$gray: #ECE9E5;
$navy: #333E48;
#searchBox {
  width: 270px;
  height: 600px;
  .selectType {
    border-bottom : 1px solid $gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    line-height: 50px;
    &:hover + .options {
      display: block;
    }
  }
  ul.options {
    border-bottom: 1px solid $gray;
    padding: 20px 0;
    // display: none;
    transition: 0.5s;
    > li {
      height: 30px;
      line-height: 2;
      font-size: 12px;
      input[type='checkbox'] {
        width: 15px;
        float: right;
        height: 30px;
      }
    }

  }
}