$gray: #ECE9E5;
$navy: #333E48;

#lists {
  margin-top: 100px;
  width: 100%;
  th {
    font-size: 20px;
  }
  thead {
    text-align: left;
    > tr {
      th {
        padding: 25px 0;
      }
      &:nth-child(1) {
        th {
          font-size: 30px;
          border-bottom: 1px solid $navy;
          padding-bottom: 50px;
        }
      }
      &:nth-child(2) {

      }
    }
  }
  tbody {
    padding: 30px 0;
    tr{
      td:nth-child(1) {
        width: 10%;
      }
      td:nth-child(2)  {
        width: 15%;
      }
    }
    input[type='checkbox'] {
      width: 20px;
      height: 20px;
    }
    input[type='number'] {
      width: 60px;
      outline: none;
      height: 25px;
    }
  }
  td {
    padding: 20px;
  }
  button {
    background-color: $navy;
    border: none;
    outline: none;
    color: $gray;
    padding: 1em 2em;
    float: right;
    margin-top: 50px;
  }
}